@model IEnumerable<ProjetoMVC.Models.Contato>

@{
    ViewData["Title"]= "Listagem de Contatos";
}

<h2>Contatos</h2>

<p>
    <a asp-action="Criar">Novo Contato</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Ativo)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="Item.Id">Editar</a> |
                    <a asp-action="Editar" asp-route-id="Item.Id">Detalhes</a> |
                    <a asp-action="Editar" asp-route-id="Item.Id">Deletar</a> 
                </td>
            </tr>
        }
    </tbody>
</table>